@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap');

.time {
    display: flex;
}

.digits {
    -ms-flex-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.mili {
    color: rgb(148, 26, 26);
}